body
{
 background: cornsilk;
}

h1
{
	color: blue;
	font-size: 50px;
	font-family: tahoma;
	width: 300px;
	margin: auto;
	padding: 20px;
	
}

p
{
	color: blue;
	font-size: 15px;
	font-family: tahoma;
	width: 300px;
	margin: auto;
}